# Environnement virtuel Python
venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs ou de débug
*.log

# Fichiers systèmes (souvent créés par erreur)
.DS_Store
Thumbs.db

# Ignorer les fichiers de test générés
test_files/output_files/*
!test_files/output_files/description.txt

# --- Django specific ---
db.sqlite3                  # Base de données SQLite par défaut
media/                      # Dossier pour les fichiers uploadés par les utilisateurs (MEDIA_ROOT)
static_collected/           # Dossier pour les fichiers statiques collectés en production (STATIC_ROOT)
.env                        # Fichiers d'environnement (si vous en utilisez pour les secrets)
